<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<!-- rinse repeate ref category/index.html, replace categories to menus-->
<!-- display is just a list of 'menu' links -->

<p th:unless="${menus} and ${menus.size()}">
<h2>No Results</h2>
</p>

<div th:fragment="menus-list">
        <ul>
            <li th:each="menu : ${menus}">
                            <a th:href="'menu/view/' + ${menu.id}" th:text="${menu.name}">
                            </a>
            </li>
        </ul>
    </div>

<nav th:fragment="navigation">
    <a href="/menu/add">Add Menu</a>

</nav>

</body>
</html>